name: Publish to NPM

on:
  push:
    paths:
      - '.changeset/**'
      - 'packages/**'
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.4

      - name: Setup Node.js 14.x
        uses: actions/setup-node@master
        with:
          node-version: 14.x

      # Runs a single command using the runners shell
      - name: Cleaning Yarn Cache
        run: yarn cache clean

        # Runs a single command using the runners shell
      - name: Installation of NPM Modules
        run: yarn install --immutable

#      - name: Bootstrap Package
#        run: npx lerna bootstrap

      - name: Setup CI Git User
        run: |
          git config --global user.email "tenphi@gmail.com"
          git config --global user.name "tenphi"

      - name: Build packages
        run: yarn build

      - name: Run tests
        run: yarn test

      - name: Publish packages
        uses: changesets/action@master
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: yarn release
          commit: 'chore(release): version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
